.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.backgroundStuff {
  height: 100vh;
  /*font: url("Game of Thrones.ttf") format("TrueType");*/
  color: #ffffff;
  margin: auto;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-color: #000000;
  background-position: center;
  padding: 30px;
}

.grid {
  min-height: 100px;
  min-width: 100px;
  height: 90vmin;
  width: 90vmin;
  max-height: 500px;
  max-width: 500px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(10, 1fr);
  margin: auto;
}
.square{
  border: 1px solid #fff;
  /*background-color: #ff0000;*/
  color: #ffffff;
  text-align: center;
  position: relative;
  /*opacity: .75;*/
}
/* .square:hover{
  color: #ffffff;
  opacity: 1;
  transition: 1s;
} */
.face{
  max-width: 50px;
  max-height: 50px;
  /*margin-top: 50px;*/
  display: block;
  margin: auto;
  width: 100%;
  position: absolute;
}
